h1 {
  text-align: center;
}

/* Code for exercise 01-flex */
.flex-container-1 :nth-child(1) {
  order: 3;
}
.flex-container-1 :nth-child(2) {
  order: 4;
}
.flex-container-1 :nth-child(3) {
  order: 5;
}
.flex-container-1 :nth-child(4) {
  order: 2;
}
.flex-container-1 :nth-child(5) {
  order: 6;
}
.flex-container-1 :nth-child(6) {
  order: 8;
}
.flex-container-1 :nth-child(7) {
  order: 1;
}
.flex-container-1 :nth-child(8) {
  order: 7;
}

@media (min-width: 414px) {
  .flex-container-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: flex-end;
    width: 414px;
  }
}
@media (min-width: 768px) {
  .flex-container-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: flex-end;
    width: 768px;
  }
}
@media (min-width: 1024px) {
  .flex-container-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: flex-end;
    width: 1024px;
  }
}
/* Code for exercise 02-flex */
.flex-container-2 :nth-child(1) {
  order: 3;
}
.flex-container-2 :nth-child(2) {
  order: 4;
}
.flex-container-2 :nth-child(3) {
  order: 5;
}
.flex-container-2 :nth-child(4) {
  order: 2;
}
.flex-container-2 :nth-child(5) {
  order: 6;
}
.flex-container-2 :nth-child(6) {
  order: 8;
}
.flex-container-2 :nth-child(7) {
  order: 1;
}
.flex-container-2 :nth-child(8) {
  order: 7;
}
@media (min-width: 414px) {
  .flex-container-2 {
    display: flex;
    height: 400px;
    flex-flow: column-reverse wrap;
    align-items: flex-end;
    width: 414px;
  }
}
@media (min-width: 768px) {
  .flex-container-2 {
    display: flex;
    height: 400px;
    flex-flow: column-reverse wrap;
    align-items: flex-end;
    width: 768px;
  }
}
@media (min-width: 1024px) {
  .flex-container-2 {
    display: flex;
    height: 400px;
    flex-flow: column-reverse wrap;
    align-items: flex-end;
    width: 1024px;
  }
}
/* Code for exercise 03-grid */
.grid-container-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.grid-container-1 :nth-child(1) {
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
}
.grid-container-1 :nth-child(2) {
  grid-column: 2 / span 4;
  grid-row: 3 / span 3;
}
.grid-container-1 :nth-child(3) {
  grid-column: 6 / span 1;
  grid-row: 3 / span 1;
}
.grid-container-1 :nth-child(4) {
  grid-column: 1 / span 1;
  grid-row: 4 / span 2;
}
.grid-container-1 :nth-child(5) {
  grid-column: 6 / span 1;
  grid-row: 4 / span 2;
}
.grid-container-1 :nth-child(6) {
  grid-column: 1 / span 3;
  grid-row: 6 / span 2;
}
.grid-container-1 :nth-child(7) {
  grid-column: 1 / span 6;
  grid-row: 1 / span 2;
}
.grid-container-1 :nth-child(8) {
  grid-column: 4 / span 3;
  grid-row: 6 / span 2;
}
@media (min-width: 414px) {
  .grid-container-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    width: 414px;
  }
}
@media (min-width: 768px) {
  .grid-container-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    width: 768px;
  }
}
@media (min-width: 1024px) {
  .grid-container-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    width: 1024px;
  }
}
/* Code for exercise 04-grid */
.grid-container-2 :nth-child(1) {
  grid-area: Header;
}
.grid-container-2 :nth-child(2) {
  grid-area: Jumbotron;
}
.grid-container-2 :nth-child(3) {
  grid-area: Card_1;
}
.grid-container-2 :nth-child(4) {
  grid-area: Card_2;
}
.grid-container-2 :nth-child(5) {
  grid-area: Card_3;
}
.grid-container-2 :nth-child(6) {
  grid-area: Section;
}
.grid-container-2 :nth-child(7) {
  grid-area: Footer;
}

/* .grid-container-2 {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 2fr 1fr 1fr 1fr;
  grid-template-areas:
    'Header'
    'Jumbotron'
    'Section'
    'Card_1'
    'Card_2'
    'Footer';
} */
@media (min-width: 414px) {
  .grid-container-2 {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 2fr 1fr 1fr 1fr;
    grid-template-areas:
      'Header'
      'Jumbotron'
      'Section'
      'Card_1'
      'Card_2'
      'Footer';
  }
  .grid-container-2 :nth-child(5) {
    visibility: hidden;
  }
}
@media (min-width: 768px) {
  .grid-container-2 {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 2fr 1fr;
    grid-template-areas:
      'Header Header'
      'Jumbotron Jumbotron'
      'Section Section'
      'Card_1 Card_2'
      'Footer Footer';
  }
  .grid-container-2 :nth-child(5) {
    visibility: hidden;
  }
}
@media (min-width: 1024px) {
  .grid-container-2 {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 2fr 1fr;
    grid-template-areas:
      'Header Header Header'
      'Jumbotron Jumbotron Jumbotron'
      'Card_1 Card_2 Card_3'
      'Section Section Section'
      'Footer Footer Footer';
  }
  .grid-container-2 :nth-child(5) {
    visibility: visible;
  }
}
/* Code for exercise 05-bootstrap-grid */

.bootstrap-grid-1 .row > * {
  height: 100px;
  border: 1px solid var(--white);
  padding: 10px;
}

.row1 > * {
  background-color: var(--purple);
}

.row2 > * {
  background-color: var(--navy);
}

.row3 > * {
  background-color: var(--teal);
}

.row4 > * {
  background-color: var(--green);
}

/* Code for exercise 06-bootstrap-form */

form {
  width: 400px;
  text-align: left;
  background-color: var(--gray4);
}
